// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flat-card{
  background-color: white;
  margin: 10px;
  box-shadow: 0 0 5px rgb(180,180,180);
  border-radius: 4px;
  width: 300px;
  display: block;
}

.people{
  margin: 4px;
}

.price{
  margin: 4px;
}

.people p{
  margin: 0 3px;
}

.price p{
  margin: 0 5px;
}

.upper {
  background-size: cover;
  background-position: center;
  padding: 15px;
  border-radius: 4px 4px 0 0;
  min-height: 200px;
  width: 100%;
  color: white;
}

.lower{
  padding: 15px;
  background-color: white;
  border-radius: 0 0 4px 4px;
  height: 55px;
}

.nav-bar{
  background-color: rgb(240,240,240);
  padding: 10px;
}

.nav-bar p{
  flex-grow: 1;
  margin: 0;
  font-size: 25px;
}

.banner{
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.details-card{
  width: 500px;
  height: 150px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(180,180,180);
  padding: 20px;
  margin: 10px;
  background-color: white;
}

a.edit{
  color: #FFDA2F;
  &:hover{
    color: #FFDA2F;
  }
}

a.delete{
  color: #FF4B4B;
  &:hover{
    color: #FF4B4B;
  }
}

a{
  margin: 0 5px;
}
